@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4bcd87;
  --color-secondary: #97a7e2;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #4bcd87;
  --color-secondary: #97a7e2;
}

*{
  font-family: "Inter", sans-serif;
}